<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>My context app</display-name>
  <context-param>
    <param-name>driverClass</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>system</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <servlet-name>contextServlet</servlet-name>
    <servlet-class>ContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contextServlet</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextConfig</display-name>
    <servlet-name>ContextConfig</servlet-name>
    <servlet-class>com.durgasoft.servlets.ContextConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextConfig</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
</web-app>